{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing Categories</h2>

    <form action="{% url 'auctions:categories' %}" method="POST">
        {% csrf_token %}
        <ul>
            {% for category in categories %}
                <li>
                    <button type="submit" name="selected_category" value="{{ category.id }}" class="btn btn-link">{{ category }}</button>
                </li>
            {% endfor %}
        </ul>
    </form>

{% endblock %}

<!--
    Categories: 
    Users should be able to visit a page that displays a list of all listing categories. 
    Clicking on the name of any category should take the user to a page that displays all of the active listings in that category.
-->