{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>Watchlist</h1>

    {% if user.is_authenticated %}
        <ul>
            {% for listing in watchlistings %}
                <li>
                    <a href="{% url 'auctions:listing' title=listing.title %}">{{ listing.title }}</a><br>
                    {{ listing.price }}
                </li><br>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

<!--
    Watchlist: 
    Users who are signed in should be able to visit a Watchlist page, 
    which should display all of the listings that a user has added to their watchlist. 
    Clicking on any of those listings should take the user to that listing’s page.
-->